<!DOCTYPE html>
<html>
<head>
    <title>得点計算</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/emulator.css" type="text/css">
</head>
<body>

<div class="container">
<div class="form-group">
<form action="#" name="form1">
<div class="row">
<table class="table text-center">
<thead class="thead-inverse">
<th class="col-xs-3">大学</th>
<th class="col-xs-1">暫定</th>
<th class="col-xs-1">470　<br>1</th>
<th class="col-xs-1">470　<br>2</th>
<th class="col-xs-1">470　<br>3</th>
<th class="col-xs-1">Snipe<br>1</th>
<th class="col-xs-1">Snipe<br>2</th>
<th class="col-xs-1">Snipe<br>3</th>
<th class="col-xs-2">合計</th>
</thead>
<tr>
<td>東北大</td>
<td>{{tohokunow}}</td>
<td><input type="number" class="form-control" name="yonnana11" onChange="keisan1()"></td>
<td><input type="number" class="form-control" name="snipe11" onChange="keisan1()"></td>
<td><input type="number" class="form-control" name="yonnana12" onChange="keisan1()"></td>
<td><input type="number" class="form-control" name="snipe12" onChange="keisan1()"></td>
<td><input type="number" class="form-control" name="yonnana13" onChange="keisan1()"></td>
<td><input type="number" class="form-control" name="snipe13" onChange="keisan1()"></td>
<td><input type="text" name="total1" size="8" value={{tohokunow}}></td>
</tr>

<tr>
<td>慶應</td>
<td>{{keionow}}</td>
<td><input type="number" class="form-control" name="yonnana21" onChange="keisan2()"></td>
<td><input type="number" class="form-control" name="snipe21" onChange="keisan2()"></td>
<td><input type="number" class="form-control" name="yonnana22" onChange="keisan2()"></td>
<td><input type="number" class="form-control" name="snipe22" onChange="keisan2()"></td>
<td><input type="number" class="form-control" name="yonnana23" onChange="keisan2()"></td>
<td><input type="number" class="form-control" name="snipe23" onChange="keisan2()"></td>
<td><input type="text" name="total2" size="8" value={{keionow}}></td>
</tr>

<tr>
<td>早稲田</td>
<td>{{wasedanow}}</td>
<td><input type="number" class="form-control" name="yonnana31" onChange="keisan3()"></td>
<td><input type="number" class="form-control" name="snipe31" onChange="keisan3()"></td>
<td><input type="number" class="form-control" name="yonnana32" onChange="keisan3()"></td>
<td><input type="number" class="form-control" name="snipe32" onChange="keisan3()"></td>
<td><input type="number" class="form-control" name="yonnana33" onChange="keisan3()"></td>
<td><input type="number" class="form-control" name="snipe33" onChange="keisan3()"></td>
<td><input type="text" name="total3" size="8" value={{wasedanow}}></td>
</tr>

<tr>
<td>明海</td>
<td>{{meikainow}}</td>
<td><input type="number" class="form-control" name="yonnana41" onChange="keisan4()"></td>
<td><input type="number" class="form-control" name="snipe41" onChange="keisan4()"></td>
<td><input type="number" class="form-control" name="yonnana42" onChange="keisan4()"></td>
<td><input type="number" class="form-control" name="snipe42" onChange="keisan4()"></td>
<td><input type="number" class="form-control" name="yonnana43" onChange="keisan4()"></td>
<td><input type="number" class="form-control" name="snipe43" onChange="keisan4()"></td>
<td><input type="text" name="total4" size="8" value={{meikainow}}></td>
</tr>

<tr>
<td>日大</td>
<td>{{nihonnow}}</td>
<td><input type="number" class="form-control" name="yonnana51" onChange="keisan5()"></td>
<td><input type="number" class="form-control" name="snipe51" onChange="keisan5()"></td>
<td><input type="number" class="form-control" name="yonnana52" onChange="keisan5()"></td>
<td><input type="number" class="form-control" name="snipe52" onChange="keisan5()"></td>
<td><input type="number" class="form-control" name="yonnana53" onChange="keisan5()"></td>
<td><input type="number" class="form-control" name="snipe53" onChange="keisan5()"></td>
<td><input type="text" name="total5" size="8" value={{nihonnow}}></td>
</tr>

<tr>
<td>中央</td>
<td>{{tyuounow}}</td>
<td><input type="number" class="form-control" name="yonnana61" onChange="keisan6()"></td>
<td><input type="number" class="form-control" name="snipe61" onChange="keisan6()"></td>
<td><input type="number" class="form-control" name="yonnana62" onChange="keisan6()"></td>
<td><input type="number" class="form-control" name="snipe62" onChange="keisan6()"></td>
<td><input type="number" class="form-control" name="yonnana63" onChange="keisan6()"></td>
<td><input type="number" class="form-control" name="snipe63" onChange="keisan6()"></td>
<td><input type="text" name="total6" size="8" value={{tyuounow}}></td>
</tr>

<tr>
<td>法政</td>
<td>{{hoseinow}}</td>
<td><input type="number" class="form-control" name="yonnana71" onChange="keisan7()"></td>
<td><input type="number" class="form-control" name="snipe71" onChange="keisan7()"></td>
<td><input type="number" class="form-control" name="yonnana72" onChange="keisan7()"></td>
<td><input type="number" class="form-control" name="snipe72" onChange="keisan7()"></td>
<td><input type="number" class="form-control" name="yonnana73" onChange="keisan7()"></td>
<td><input type="number" class="form-control" name="snipe73" onChange="keisan7()"></td>
<td><input type="text" name="total7" size="8" value={{hoseinow}}></td>
</tr>

<tr>
<td>同志社</td>
<td>{{dosishanow}}</td>
<td><input type="number" class="form-control" name="yonnana81" onChange="keisan8()"></td>
<td><input type="number" class="form-control" name="snipe81" onChange="keisan8()"></td>
<td><input type="number" class="form-control" name="yonnana82" onChange="keisan8()"></td>
<td><input type="number" class="form-control" name="snipe82" onChange="keisan8()"></td>
<td><input type="number" class="form-control" name="yonnana83" onChange="keisan8()"></td>
<td><input type="number" class="form-control" name="snipe83" onChange="keisan8()"></td>
<td><input type="text" name="total8" size="8" value={{dosishanow}}></td>
</tr>

<tr>
<td>京都大</td>
<td>{{kyotonow}}</td>
<td><input type="number" class="form-control" name="yonnana91" onChange="keisan9()"></td>
<td><input type="number" class="form-control" name="snipe91" onChange="keisan9()"></td>
<td><input type="number" class="form-control" name="yonnana92" onChange="keisan9()"></td>
<td><input type="number" class="form-control" name="snipe92" onChange="keisan9()"></td>
<td><input type="number" class="form-control" name="yonnana93" onChange="keisan9()"></td>
<td><input type="number" class="form-control" name="snipe93" onChange="keisan9()"></td>
<td><input type="text" name="total9" size="8" value={{kyotonow}}></td>
</tr>

<tr>
<td>関西学院</td>
<td>{{kwanseinow}}</td>
<td><input type="number" class="form-control" name="yonnana101" onChange="keisan10()"></td>
<td><input type="number" class="form-control" name="snipe101" onChange="keisan10()"></td>
<td><input type="number" class="form-control" name="yonnana102" onChange="keisan10()"></td>
<td><input type="number" class="form-control" name="snipe102" onChange="keisan10()"></td>
<td><input type="number" class="form-control" name="yonnana103" onChange="keisan10()"></td>
<td><input type="number" class="form-control" name="snipe103" onChange="keisan10()"></td>
<td><input type="text" name="total10" size="8" value={{kwanseinow}}></td>
</tr>

<tr>
<td>関西大</td>
<td>{{kansainow}}</td>
<td><input type="number" class="form-control" name="yonnana111" onChange="keisan11()"></td>
<td><input type="number" class="form-control" name="snipe111" onChange="keisan11()"></td>
<td><input type="number" class="form-control" name="yonnana112" onChange="keisan11()"></td>
<td><input type="number" class="form-control" name="snipe112" onChange="keisan11()"></td>
<td><input type="number" class="form-control" name="yonnana113" onChange="keisan11()"></td>
<td><input type="number" class="form-control" name="snipe113" onChange="keisan11()"></td>
<td><input type="text" name="total11" size="8" value={{kansainow}}></td>
</tr>

<tr>
<td>広島大</td>
<td>{{hirosimanow}}</td>
<td><input type="number" class="form-control" name="yonnana121" onChange="keisan12()"></td>
<td><input type="number" class="form-control" name="snipe121" onChange="keisan12()"></td>
<td><input type="number" class="form-control" name="yonnana122" onChange="keisan12()"></td>
<td><input type="number" class="form-control" name="snipe122" onChange="keisan12()"></td>
<td><input type="number" class="form-control" name="yonnana123" onChange="keisan12()"></td>
<td><input type="number" class="form-control" name="snipe123" onChange="keisan12()"></td>
<td><input type="text" name="total12" size="8" value={{hirosimanow}}></td>
</tr>

<tr>
<td>九州大</td>
<td>{{kyushunow}}</td>
<td><input type="number" class="form-control" name="yonnana131" onChange="keisan13()"></td>
<td><input type="number" class="form-control" name="snipe131" onChange="keisan13()"></td>
<td><input type="number" class="form-control" name="yonnana132" onChange="keisan13()"></td>
<td><input type="number" class="form-control" name="snipe132" onChange="keisan13()"></td>
<td><input type="number" class="form-control" name="yonnana133" onChange="keisan13()"></td>
<td><input type="number" class="form-control" name="snipe133" onChange="keisan13()"></td>
<td><input type="text" name="total13" size="8" value={{kyushunow}}></td>
</tr>
</table>
</div>
</form>
</div>
</div>
<script type="text/javascript">
<!--


function keisan1(){
    var price1 = document.form1.yonnana11.value;
    var price2 = document.form1.snipe11.value;
    var price3 = document.form1.yonnana12.value;
    var price4 = document.form1.snipe12.value;
    var price5 = document.form1.yonnana13.value;
    var price6 = document.form1.snipe13.value;
    price1 = (isNaN(price1) || !price1) ? 0 : price1;
    price2 = (isNaN(price2) || !price2) ? 0 : price2;
    price3 = (isNaN(price3) || !price3) ? 0 : price3;
    price4 = (isNaN(price4) || !price4) ? 0 : price4;
    price5 = (isNaN(price5) || !price5) ? 0 : price5;
    price6 = (isNaN(price6) || !price6) ? 0 : price6;
    var total = {{ tohokunow}} + parseInt(price1) + parseInt(price2) + parseInt(price3) + parseInt(price4) + parseInt(price5) + parseInt(price6)
    document.form1.total1.value = total; // 合計を表示
}
function keisan2(){
    var price1 = document.form1.yonnana21.value;
    var price2 = document.form1.snipe21.value;
    var price3 = document.form1.yonnana22.value;
    var price4 = document.form1.snipe22.value;
    var price5 = document.form1.yonnana23.value;
    var price6 = document.form1.snipe23.value;
    price1 = (isNaN(price1) || !price1) ? 0 : price1;
    price2 = (isNaN(price2) || !price2) ? 0 : price2;
    price3 = (isNaN(price3) || !price3) ? 0 : price3;
    price4 = (isNaN(price4) || !price4) ? 0 : price4;
    price5 = (isNaN(price5) || !price5) ? 0 : price5;
    price6 = (isNaN(price6) || !price6) ? 0 : price6;
    var total = {{ keionow}} + parseInt(price1) + parseInt(price2) + parseInt(price3) + parseInt(price4) + parseInt(price5) + parseInt(price6)
    document.form1.total2.value = total; // 合計を表示
}
function keisan3(){
    var price1 = document.form1.yonnana31.value;
    var price2 = document.form1.snipe31.value;
    var price3 = document.form1.yonnana32.value;
    var price4 = document.form1.snipe32.value;
    var price5 = document.form1.yonnana33.value;
    var price6 = document.form1.snipe33.value;
    price1 = (isNaN(price1) || !price1) ? 0 : price1;
    price2 = (isNaN(price2) || !price2) ? 0 : price2;
    price3 = (isNaN(price3) || !price3) ? 0 : price3;
    price4 = (isNaN(price4) || !price4) ? 0 : price4;
    price5 = (isNaN(price5) || !price5) ? 0 : price5;
    price6 = (isNaN(price6) || !price6) ? 0 : price6;
    var total = {{ wasedanow }} + parseInt(price1) + parseInt(price2) + parseInt(price3) + parseInt(price4) + parseInt(price5) + parseInt(price6)
    document.form1.total3.value = total; // 合計を表示
}
function keisan4(){
    var price1 = document.form1.yonnana41.value;
    var price2 = document.form1.snipe41.value;
    var price3 = document.form1.yonnana42.value;
    var price4 = document.form1.snipe42.value;
    var price5 = document.form1.yonnana43.value;
    var price6 = document.form1.snipe43.value;
    price1 = (isNaN(price1) || !price1) ? 0 : price1;
    price2 = (isNaN(price2) || !price2) ? 0 : price2;
    price3 = (isNaN(price3) || !price3) ? 0 : price3;
    price4 = (isNaN(price4) || !price4) ? 0 : price4;
    price5 = (isNaN(price5) || !price5) ? 0 : price5;
    price6 = (isNaN(price6) || !price6) ? 0 : price6;
    var total = {{ meikainow}} + parseInt(price1) + parseInt(price2) + parseInt(price3) + parseInt(price4) + parseInt(price5) + parseInt(price6)
    document.form1.total4.value = total; // 合計を表示
}
function keisan5(){
    var price1 = document.form1.yonnana51.value;
    var price2 = document.form1.snipe51.value;
    var price3 = document.form1.yonnana52.value;
    var price4 = document.form1.snipe52.value;
    var price5 = document.form1.yonnana53.value;
    var price6 = document.form1.snipe53.value;
    price1 = (isNaN(price1) || !price1) ? 0 : price1;
    price2 = (isNaN(price2) || !price2) ? 0 : price2;
    price3 = (isNaN(price3) || !price3) ? 0 : price3;
    price4 = (isNaN(price4) || !price4) ? 0 : price4;
    price5 = (isNaN(price5) || !price5) ? 0 : price5;
    price6 = (isNaN(price6) || !price6) ? 0 : price6;
    var total = {{ nihonnow}} + parseInt(price1) + parseInt(price2) + parseInt(price3) + parseInt(price4) + parseInt(price5) + parseInt(price6)
    document.form1.total5.value = total; // 合計を表示
}
function keisan6(){
    var price1 = document.form1.yonnana61.value;
    var price2 = document.form1.snipe61.value;
    var price3 = document.form1.yonnana62.value;
    var price4 = document.form1.snipe62.value;
    var price5 = document.form1.yonnana63.value;
    var price6 = document.form1.snipe63.value;
    price1 = (isNaN(price1) || !price1) ? 0 : price1;
    price2 = (isNaN(price2) || !price2) ? 0 : price2;
    price3 = (isNaN(price3) || !price3) ? 0 : price3;
    price4 = (isNaN(price4) || !price4) ? 0 : price4;
    price5 = (isNaN(price5) || !price5) ? 0 : price5;
    price6 = (isNaN(price6) || !price6) ? 0 : price6;
    var total = {{ tyuounow}} + parseInt(price1) + parseInt(price2) + parseInt(price3) + parseInt(price4) + parseInt(price5) + parseInt(price6)
    document.form1.total6.value = total; // 合計を表示
}
function keisan7(){
    var price1 = document.form1.yonnana71.value;
    var price2 = document.form1.snipe71.value;
    var price3 = document.form1.yonnana72.value;
    var price4 = document.form1.snipe72.value;
    var price5 = document.form1.yonnana73.value;
    var price6 = document.form1.snipe73.value;
    price1 = (isNaN(price1) || !price1) ? 0 : price1;
    price2 = (isNaN(price2) || !price2) ? 0 : price2;
    price3 = (isNaN(price3) || !price3) ? 0 : price3;
    price4 = (isNaN(price4) || !price4) ? 0 : price4;
    price5 = (isNaN(price5) || !price5) ? 0 : price5;
    price6 = (isNaN(price6) || !price6) ? 0 : price6;
    var total = {{ hosei }} + parseInt(price1) + parseInt(price2) + parseInt(price3) + parseInt(price4) + parseInt(price5) + parseInt(price6)
    document.form1.total7.value = total; // 合計を表示
}
function keisan8(){
    var price1 = document.form1.yonnana81.value;
    var price2 = document.form1.snipe81.value;
    var price3 = document.form1.yonnana82.value;
    var price4 = document.form1.snipe82.value;
    var price5 = document.form1.yonnana83.value;
    var price6 = document.form1.snipe83.value;
    price1 = (isNaN(price1) || !price1) ? 0 : price1;
    price2 = (isNaN(price2) || !price2) ? 0 : price2;
    price3 = (isNaN(price3) || !price3) ? 0 : price3;
    price4 = (isNaN(price4) || !price4) ? 0 : price4;
    price5 = (isNaN(price5) || !price5) ? 0 : price5;
    price6 = (isNaN(price6) || !price6) ? 0 : price6;
    var total = {{ dosishanow }} + parseInt(price1) + parseInt(price2) + parseInt(price3) + parseInt(price4) + parseInt(price5) + parseInt(price6)
    document.form1.total8.value = total; // 合計を表示
}
function keisan9(){
    var price1 = document.form1.yonnana91.value;
    var price2 = document.form1.snipe91.value;
    var price3 = document.form1.yonnana92.value;
    var price4 = document.form1.snipe92.value;
    var price5 = document.form1.yonnana93.value;
    var price6 = document.form1.snipe93.value;
    price1 = (isNaN(price1) || !price1) ? 0 : price1;
    price2 = (isNaN(price2) || !price2) ? 0 : price2;
    price3 = (isNaN(price3) || !price3) ? 0 : price3;
    price4 = (isNaN(price4) || !price4) ? 0 : price4;
    price5 = (isNaN(price5) || !price5) ? 0 : price5;
    price6 = (isNaN(price6) || !price6) ? 0 : price6;
    var total = {{ kyotonow}} + parseInt(price1) + parseInt(price2) + parseInt(price3) + parseInt(price4) + parseInt(price5) + parseInt(price6)
    document.form1.total9.value = total; // 合計を表示
}
function keisan10(){
    var price1 = document.form1.yonnana101.value;
    var price2 = document.form1.snipe101.value;
    var price3 = document.form1.yonnana102.value;
    var price4 = document.form1.snipe102.value;
    var price5 = document.form1.yonnana103.value;
    var price6 = document.form1.snipe103.value;
    price1 = (isNaN(price1) || !price1) ? 0 : price1;
    price2 = (isNaN(price2) || !price2) ? 0 : price2;
    price3 = (isNaN(price3) || !price3) ? 0 : price3;
    price4 = (isNaN(price4) || !price4) ? 0 : price4;
    price5 = (isNaN(price5) || !price5) ? 0 : price5;
    price6 = (isNaN(price6) || !price6) ? 0 : price6;
    var total = {{ kwanseinow }} + parseInt(price1) + parseInt(price2) + parseInt(price3) + parseInt(price4) + parseInt(price5) + parseInt(price6)
    document.form1.total10.value = total; // 合計を表示
}
function keisan11(){
    var price1 = document.form1.yonnana111.value;
    var price2 = document.form1.snipe111.value;
    var price3 = document.form1.yonnana112.value;
    var price4 = document.form1.snipe112.value;
    var price5 = document.form1.yonnana113.value;
    var price6 = document.form1.snipe113.value;
    price1 = (isNaN(price1) || !price1) ? 0 : price1;
    price2 = (isNaN(price2) || !price2) ? 0 : price2;
    price3 = (isNaN(price3) || !price3) ? 0 : price3;
    price4 = (isNaN(price4) || !price4) ? 0 : price4;
    price5 = (isNaN(price5) || !price5) ? 0 : price5;
    price6 = (isNaN(price6) || !price6) ? 0 : price6;
    var total = {{ kansainow}} + parseInt(price1) + parseInt(price2) + parseInt(price3) + parseInt(price4) + parseInt(price5) + parseInt(price6)
    document.form1.total11.value = total; // 合計を表示
}
function keisan12(){
    var price1 = document.form1.yonnana121.value;
    var price2 = document.form1.snipe121.value;
    var price3 = document.form1.yonnana122.value;
    var price4 = document.form1.snipe122.value;
    var price5 = document.form1.yonnana123.value;
    var price6 = document.form1.snipe123.value;
    price1 = (isNaN(price1) || !price1) ? 0 : price1;
    price2 = (isNaN(price2) || !price2) ? 0 : price2;
    price3 = (isNaN(price3) || !price3) ? 0 : price3;
    price4 = (isNaN(price4) || !price4) ? 0 : price4;
    price5 = (isNaN(price5) || !price5) ? 0 : price5;
    price6 = (isNaN(price6) || !price6) ? 0 : price6;
    var total = {{ hirosimanow}} + parseInt(price1) + parseInt(price2) + parseInt(price3) + parseInt(price4) + parseInt(price5) + parseInt(price6)
    document.form1.total12.value = total; // 合計を表示
}
function keisan13(){
    var price1 = document.form1.yonnana131.value;
    var price2 = document.form1.snipe131.value;
    var price3 = document.form1.yonnana132.value;
    var price4 = document.form1.snipe132.value;
    var price5 = document.form1.yonnana133.value;
    var price6 = document.form1.snipe133.value;
    price1 = (isNaN(price1) || !price1) ? 0 : price1;
    price2 = (isNaN(price2) || !price2) ? 0 : price2;
    price3 = (isNaN(price3) || !price3) ? 0 : price3;
    price4 = (isNaN(price4) || !price4) ? 0 : price4;
    price5 = (isNaN(price5) || !price5) ? 0 : price5;
    price6 = (isNaN(price6) || !price6) ? 0 : price6;
    var total = {{ kyushunow }} + parseInt(price1) + parseInt(price2) + parseInt(price3) + parseInt(price4) + parseInt(price5) + parseInt(price6)
    document.form1.total13.value = total; // 合計を表示
}

// -->
</script>
<script src="https://code.jquery.com/jquery-2.2.3.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>

</body>
</html>