<!DOCTYPE html>
<html>
<head>
    <title>トップページ</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/c3.css" type="text/css">
    <link rel="stylesheet" href="/static/css/main.css" type="text/css">
</head>
<body>
<header class="jumbotron">
      <div class="container">
        <h2>ALL JAPAN <br>Inter College 2016</h2>
        <p>非公式WEB掲示板</p>
      </div>
</header>
<div class="container">

<!--タブ-->
<ul class="nav nav-tabs">
<li class="active"><a href="#tab1" data-toggle="tab">団体総合</a></li>
<li><a href="#tab2" data-toggle="tab">470団体</a></li>
<li><a href="#tab3" data-toggle="tab">snipe団体</a></li>
<li><a href="#tab4" data-toggle="tab">470個人</a></li>
<li><a href="#tab5" data-toggle="tab">snipe個人</a></li>
</ul>
<!-- / タブ-->
<div id="myTabContent" class="tab-content">
<div class="tab-pane fade in active" id="tab1">
<div class = "row">
<h3>総合</h3>
<div class="table-responsive">
{{ tableteamsg }}
</div></div>
</div>
<div class="tab-pane fade" id="tab2">
<div class = "row">
<h3>470団体</h3>
<div class="table-responsive">
{{ tableteam470 }}
</div></div>
</div>
<div class="tab-pane fade" id="tab3">
<div class = "row">
<h3>スナイプチーム</h3>
<div class="table-responsive">
{{ tableteamsnipe }}
</div></div>
</div>
<div class="tab-pane fade" id="tab4">
<div class = "row">
<h3>470個人</h3>
<div class="table-responsive">
{{ table470 }}
</div></div>
</div>
<div class="tab-pane fade" id="tab5">
<div class = "row">
<h3>スナイプ個人</h3>
<div class="table-responsive">
{{ tablesnipe }}
</div></div>
</div>

<h3>総合得点推移グラフ</h3>
<!-- グラフ -->
<div id="chart"></div>



</div>
</div>


</div>
<!-- js -->
<script src="/static/js/d3.min.js" charset="utf-8"></script>
<script src="/static/js/c3.min.js" charset="utf-8"></script>

<script>

var chart = c3.generate({
    bindto: '#chart',
    data: {
        x: 'x',
        columns: {{ ruiseki_lists |safe }},
        type: 'line'
    },
});

</script>

<script src="https://code.jquery.com/jquery-2.2.3.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>

</body>
</html>