<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/main.css" type="text/css">
    <title>Facebook速報</title>
</head>
<body>
<!-- bootstrap -->
<!-- facebook jsSDK -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.8&appId=199611897042656";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- facebook jsSDKここまで -->

<header class="jumbotron">
      <div class="container">
        <h2><br>ALL JAPAN <br>Inter College 2016</h2>
        <p>非公式WEB掲示板</p>
      </div>
</header>


<div class="container">



<h2>Facebook速報</h2>
<p>各チームが独自に配信している速報情報です！<br>
得点の参考に</p>

<div class="row">
<div class="col-xs-2"></div>
<div class="col-xs-8"><a class="btn btn-primary " href="https://intercollege2016.herokuapp.com/">トップページへもどる</a></div>
<div class="col-xs-2"></div>
</div>

<div class="row">
<div class="2"></div>
<div class="col-xs-8 center-block" data-href="https://www.facebook.com/81inkareyacht/?hc_ref=NEWSFEED" data-tabs="timeline" data-height="350" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/81inkareyacht/?hc_ref=NEWSFEED" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/81inkareyacht/?hc_ref=NEWSFEED">第81回全日本学生ヨット選手権大会</a></blockquote></div>
<div class="2"></div>
</div>
<br>
<div class="row">
<div class="1"></div>
<div class="fb-page col-xs-10 center-block" data-href="https://www.facebook.com/KeioSailing/?fref=ts" data-tabs="timeline" data-height="350" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/KeioSailing/?fref=ts" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/KeioSailing/?fref=ts">慶應義塾體育會ヨット部</a></blockquote></div>
<div class="1"></div>
</div>
<br>
<div class="row">
<div class="1"></div>
<div class="fb-page col-xs-10 center-block" data-href="https://www.facebook.com/%E6%97%A9%E7%A8%B2%E7%94%B0%E5%A4%A7%E5%AD%A6%E3%83%A8%E3%83%83%E3%83%88%E9%83%A8-121975324646602/?fref=ts" data-tabs="timeline" data-height="350" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/%E6%97%A9%E7%A8%B2%E7%94%B0%E5%A4%A7%E5%AD%A6%E3%83%A8%E3%83%83%E3%83%88%E9%83%A8-121975324646602/?fref=ts" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/%E6%97%A9%E7%A8%B2%E7%94%B0%E5%A4%A7%E5%AD%A6%E3%83%A8%E3%83%83%E3%83%88%E9%83%A8-121975324646602/?fref=ts">早稲田大学ヨット部</a></blockquote></div>
<div class="1"></div>
</div>
<br>
<div class="row">
<div class="1"></div>
<div class="fb-page col-xs-10 center-block" data-href="https://www.facebook.com/DUYC1933/?fref=ts" data-tabs="timeline" data-height="350" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/DUYC1933/?fref=ts" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/DUYC1933/?fref=ts">同志社大学体育会ヨット部</a></blockquote></div>
<div class="1"></div>
</div>
<br>
<div class="row">
<div class="1"></div>
<div class="fb-page col-xs-10 center-block" data-href="https://www.facebook.com/%E6%97%A5%E6%9C%AC%E5%A4%A7%E5%AD%A6%E4%BF%9D%E5%81%A5%E4%BD%93%E8%82%B2%E5%AF%A9%E8%AD%B0%E4%BC%9A%E3%83%A8%E3%83%83%E3%83%88%E9%83%A8-198711577161481/?fref=ts" data-tabs="timeline" data-height="350" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/%E6%97%A5%E6%9C%AC%E5%A4%A7%E5%AD%A6%E4%BF%9D%E5%81%A5%E4%BD%93%E8%82%B2%E5%AF%A9%E8%AD%B0%E4%BC%9A%E3%83%A8%E3%83%83%E3%83%88%E9%83%A8-198711577161481/?fref=ts" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/%E6%97%A5%E6%9C%AC%E5%A4%A7%E5%AD%A6%E4%BF%9D%E5%81%A5%E4%BD%93%E8%82%B2%E5%AF%A9%E8%AD%B0%E4%BC%9A%E3%83%A8%E3%83%83%E3%83%88%E9%83%A8-198711577161481/?fref=ts">日本大学保健体育審議会ヨット部</a></blockquote></div>
<div class="1"></div>
</div>
<br>


<div class="row">
<div class="1"></div>
<div class="fb-page col-xs-10 center-block" data-href="https://www.facebook.com/nitechyc/" data-tabs="timeline" data-height="350" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/nitechyc/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/nitechyc/">名古屋工業大学ヨット部</a></blockquote></div>
<div class="1"></div>
</div>
<br>
<div class="row">
<div class="1"></div>
<div class="fb-page col-xs-10 center-block" data-href="https://www.facebook.com/kyotosailing/" data-tabs="timeline" data-height="350" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/kyotosailing/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/kyotosailing/">京都大学体育会ヨット部</a></blockquote></div>
<div class="1"></div>
</div>
<br>
<div class="row">
<div class="1"></div>
<div class="fb-page col-xs-10 center-block" data-href="https://www.facebook.com/%E5%BA%83%E5%B3%B6%E5%A4%A7%E5%AD%A6%E4%BD%93%E8%82%B2%E4%BC%9A%E3%83%A8%E3%83%83%E3%83%88%E9%83%A8-259990374056369/?hc_ref=SEARCH" data-tabs="timeline" data-height="350" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/%E5%BA%83%E5%B3%B6%E5%A4%A7%E5%AD%A6%E4%BD%93%E8%82%B2%E4%BC%9A%E3%83%A8%E3%83%83%E3%83%88%E9%83%A8-259990374056369/?hc_ref=SEARCH" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/%E5%BA%83%E5%B3%B6%E5%A4%A7%E5%AD%A6%E4%BD%93%E8%82%B2%E4%BC%9A%E3%83%A8%E3%83%83%E3%83%88%E9%83%A8-259990374056369/?hc_ref=SEARCH">広島大学体育会ヨット部</a></blockquote></div>
<div class="1"></div>
</div>
<br>
<div class="row">
<div class="1"></div>
<div class="fb-page col-xs-10 center-block" data-href="https://www.facebook.com/kanoya12/?hc_ref=NEWSFEED&amp;fref=nf" data-tabs="timeline" data-height="350" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/kanoya12/?hc_ref=NEWSFEED&amp;fref=nf" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/kanoya12/?hc_ref=NEWSFEED&amp;fref=nf">鹿屋体育大学ヨット部</a></blockquote></div>
<div class="1"></div>
</div>
<div class="col-xs-8"><a class="btn btn-primary " href="https://intercollege2016.herokuapp.com/">トップページへ</a></div>


<!-- bootstrap -->
<script src="https://code.jquery.com/jquery-2.2.3.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
</div>
</body>
</html>